<div class=banner class="col-6">
<h1>Stupid Coaching</h1>
</div>
<div class="col-6">
<p><%= params[:question_got] %></p>
<p>- You</p>
</div>
<div class="col-6">
<p><%= @answer %></p>
<p>- Your coach</p>
<%= link_to "Ask a new question", ask_path %>
</div>
